* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: aqua;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  gap: 1%;
}

.main {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    min-width: 30px;
    background-color: aqua;
  }
}

.true {
  color: green;
}

.false {
  color: red;
}

a.active {
  background-color: #3e8e41;
  color: aqua;
}

a {
  background-color: #34745c; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  width: 50%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

button {
  padding: 10px;
}

.shope {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.products {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  .main {
    width: 100%;
    display: flex;
    gap: 1%;
    overflow: auto; /* מאפשר גלילה אופקית */
    border: solid 1px black;
    background-color: white;
    .item {
      min-width: 20%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4%;
      background-color: red;
    }
  }
}

.title {
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: rgb(179, 179, 179);
}

.cart {
  width: 100%;
  height: 50%;
  .main {
    width: 100%;
    display: flex;
    gap: 1%;
    overflow: auto; /* מאפשר גלילה אופקית */
    flex-wrap: wrap;
    border: solid 1px black;
    background-color: white;
    .item {
      min-width: 30%;
      min-height: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4%;
      background-color: red;
    }
  }
}
